@import url(https://fonts.googleapis.com/css2?family=Train+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap);
@import url(https://fonts.googleapis.com/css?family=Finger+Paint);
*{
	border:none;
	outline:none;
	font-weight:200;
	margin:0;
	padding:0
}
body{
	text-align:center;
	font-family:Arial, Verdana, Sans-serif;
	font-size:12px;
    background: rgb(22, 2, 2);
    text-align: center;
    overflow-x: hidden;
}


h1{
    margin-top:1em;
    width:100%;
    position:absolute;
    font:120px "Gloria Hallelujah";
    animation: remove 0s 8s both;
}
span {
    display: inline-block;
    color:rgb(252, 248, 248);
    text-shadow: 0 0 0 whitesmoke;
    animation: smoky 5s .5s both;
} 
span:nth-child(even){
    animation-name: smoky-mirror;
}
@keyframes smoky {
    50% {
      text-shadow: 0 0 40px whitesmoke;
    }
    100% {
      transform:
        translate3d(15rem,-8rem,0)
        rotate(-40deg)
        skewX(70deg)
        scale(1.5);
      text-shadow: 0 0 20px whitesmoke;
      opacity: 0;
    }
  }
  
@keyframes smoky-mirror {
    50% {
      text-shadow: 0 0 40px whitesmoke; }
    100% {
      transform:
        translate3d(18rem,-8rem,0)
        rotate(-40deg) 
        skewX(-70deg)
        scale(2);
       text-shadow: 0 0 20px whitesmoke;
      opacity: 0;
    }
  }

@keyframes remove {
    0%{
        transform: scale(1);
    }
    100%{
        display: none;
        overflow: hidden;
        transform: scale(0);
    }
}


#panel1{
    font:bold 25px 'Train One', cursive;
    color:rgb(189, 179, 179);
    margin-top:1em;
    margin-left: 2em;
    text-align: left;
    width:650px;
    position :absolute;
    opacity:0;
    animation: panel1 3s 3s both;
}
#panel1[class="blockAnimation"]{
    opacity:1!important;
    animation-play-state: paused;
}
input[type="range"]{
    background: #013a3a;
    border: solid 1px #013a3a;
    border-radius: 8px;
    height: 7px;
    width: 150px;
    outline: none;
    margin-bottom: 2em;
    -webkit-appearance: none;
    cursor: pointer;
}
.hidePanel1{
    display: none;
}
#startGame, 
#restartgame,
#back{
	box-shadow:inset 0px 1px 0px 0px #a6827e;
	background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
	background-color:#7d5d3b;
	border-radius:3px;
	border:1px solid #54381e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4d3534;
}

#restartgame{
    margin-right:2em;
}

#startGame:hover, 
#restartgame:hover,
#back:hover {
	background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
	background-color:#634b30;
}
#startGame:active, 
#restartgame:active,
#back:active {
	position:relative;
	top:1px;
}

#panel2{
    font:bold 25px 'Train One', cursive;
    color:rgb(189, 179, 179);
    margin-top:1em;
    margin-left: 2em;
    text-align: left;
    width:auto;
    position :absolute;
}

.hidePanel2{
    display: none;
}

#game{
    padding-top:20em;
}

#game div {
    border: 3px solid rgb(107, 8, 8);
    background:url("https://i.giphy.com/media/RkhMKpIYLT9sukfuXg/source.gif");
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    border-radius: 5px;
    width: 18%;
    height: 200px;
    margin: .5%;
    z-index: 10;
    position: relative;
    cursor: pointer;
    display: inline-block;
}
#restartgame{
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin-top:2em;
}
#restartgame[class="restartgame"]{
    display:none;
}

.match{
    animation: shrink 5s 1s both;
}

/*@keyframes panel1{
    0% {opacity:0;}
    100%{opacity:1;}
}*/

@keyframes shrink {
    0%{
        transform:scale(1);
        border-radius: 5px;
    }
    100%{
        transform: scale(0);
        border-radius: 50px;
        opacity:.5;
    }
    
}